<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div th:replace="~{templates :: navbar}"></div>
    <div class="main container">
        <h3>🌸 Welcome to Spring Boot Tutorial 🌸</h3>
        <h4>Hello, Yeonsoo</h4>
        <p th:text="${logout}"></p>
        <p th:text="${loginUrl}">${loginUrl}</p>
    </div>
    <div th:replace="~{templates :: footer}"></div>
</body>
</html>