<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <nav class="navbar">
        <a href="home.html">Home</a>
        <a href="users.html">Users</a>
        <a href="authorities.html">Authorities</a>
    </nav>
    <div class="container">
        <h3>Welcome to Spring Boot Tutorial</h3>
        <h4>Hello, Yeonsoo </h4>
    </div>
</body>
</html>