<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Boot Tutorial</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div>
    <!-- navbar -->
    <div th:replace="~{templates :: navbar}"></div>

    <!-- 메인 컨텐츠 -->
    <div class="container mt-5">
        <div class="text-center mb-4">
            <h1 class="display-4">🌸 Spring Boot Tutorial 🌸</h1>
            <h2 class="mt-4">User List</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover authority-table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Enabled</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.enabled ? 'Yes' : 'No'}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 푸터 -->
    <div th:replace="~{templates :: footer}"></div>
    <!-- Bootstrap JS 추가 (필수) -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>